<app-header></app-header>
<div class="containerCheck">
  <div class="content">
    <h1>Order Time</h1>
    <form [formGroup]="checkoutform">
      <input
        type="text"
        placeholder="Name"
        aria-label="Name"
        id="inputName"
        formControlName="name"
      />
      <input
        type="text"
        placeholder="Address"
        aria-label="Address"
        id="inputAddress"
        formControlName="address"
      />
    </form>
    <app-order-items-list [order]="order"></app-order-items-list>
  </div>

  <div class="map">
    <h1>Choose Your Address On Map</h1>
  <app-map [order]="order"></app-map>
  </div>
</div>
<div class="buttonContainer">
  <div class="buttons">
    <button (click)="createOrder()" >Go to Payment</button>
  </div>
</div>
